@import "leaflet/dist/leaflet.css";


.map-popup {
    margin: 0;
    padding: 1rem;
    font-family: 'M PLUS Rounded 1c',sans-serif;
    background: #fff;
    border-radius: 10px;
    overflow-y: auto;
    max-height: 50vh
}

.map-popup .bar {
    height: 10px;
    margin: -1rem -1rem 1rem -1rem
}

.map-popup .title {
    margin-bottom: 0.5em;
    color: oklch(var(--p))
}

.map-popup .image img {
    border-radius: 10px
}

.map-popup .type {
    color: oklch(var(--p));
    opacity: 0.7
}

.map-popup .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0.5rem 0
}

.map-popup .buttons .btn {
    margin: 0 0.5rem 0 0
}

.map-popup .buttons .btn-brown {
    color: #fff
}

.map-popup .buttons .btn-outline-secondary {
    color: oklch(var(--p))
}

.map-popup .buttons .btn-brown:hover {
    color: oklch(var(--p))
}

.map-popup .buttons .btn-outline-secondary:hover {
    color: #fff
}

.map-popup .h6 {
    margin: 1rem 0;
    color: oklch(var(--p))
}

.map-popup .open {
    color: oklch(var(--su))
}

.map-popup .close {
    color: oklch(var(--er))
}

.map-popup .next {
    font-size: 0.75rem;
    color: oklch(var(--p))
}

.map-popup .group {
    padding: 1rem;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.15);
    background: #fff;
    margin-bottom: 1rem;
    font-size: 0.875rem;
    border-radius: 10px;
    font-weight: 500
}

.map-popup .group:last-child {
    margin-bottom: 0
}

.map-popup .label {
    color: oklch(var(--p));
    opacity: 0.7
}

.map-popup .value {
    color: oklch(var(--p))
}

.map-popup .text .small {
    gap: 0.5rem;
    color: oklch(var(--p));
    margin-top: 0.25rem
}

.map-popup .text .small svg {
    min-width: 13px
}

.map-popup .item:not(:first-child) {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    border-top: 1px solid rgba(39,39,39,0.15)
}

.map-popup .item.hide + .item {
    border-top: none
}

.map-popup .icon {
    width: 24px;
    height: 24px;
    padding: 5px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center
}

.map-popup .icon:not(:last-child) {
    margin-bottom: 0.5rem
}

.map-popup .icon.destination {
    background: oklch(var(--p))
}

.map-popup .icon.phone {
    background: oklch(var(--er))
}

.map-popup .icon.email {
    background: oklch(var(--p))
}

.map-popup .schedules.open svg {
    transition: transform 0.3s ease 0s
}

.map-popup .schedules.open svg {
    transform: rotate(180deg)
}

.map-popup .schedules table {
    margin: 0;
    width: 100%;
    border-collapse: collapse
}

.map-popup .schedules table td {
    border: none
}

.map-popup .schedules table td:first-child {
    padding-left: 0
}

.map-popup .schedules table td:last-child {
    padding-right: 0
}

.map-popup .commerciaux .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start
}

.map-popup .commerciaux .image {
    min-width: 60px;
    max-width: 60px;
    margin-right: 1rem
}

.map-popup .image {
    aspect-ratio: 1
}

.map-popup .image img {
    border-radius: 50%;
    width: 100%
}

.map-popup .commerciaux .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

#map .leaflet-popup-content-wrapper {
    border-radius: 0;
    padding: 0;
    background: none;
    @apply shadow-xl;
}

#map .leaflet-popup-content {
    padding: 0;
    margin: 0;
    overscroll-behavior: contain;
    border: none
}

#map .leaflet-popup-close-button {
    width: 32px;
    height: 32px;
    color: #fff;
    border-radius: 50%;
    background: oklch(var(--p));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    top: -16px;
    right: -12px
}

#map .leaflet-popup-tip-container {
    width: 40px;
    height: 20px;
    left: -9px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg)
}

#map .leaflet-marker-icon {
    border-radius: 50%;
    background: #0c243e;
    border: none;
    padding: 3px
}

#map .leaflet-marker-icon-inner {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all 0.3s ease 0s
}

#map .leaflet-marker-icon-open {
    width: 64px;
    height: 64px;
    border-radius: 60%;
    background-image: url("../../public/images/public/sites/icon-marker.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-position: center center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease 0s
}

#map .leaflet-marker-clicked .leaflet-marker-icon-open {
    bottom: 24px;
    opacity: 1;
    pointer-events: auto
}

#map .leaflet-marker-clicked {
    background-color: transparent
}

/* --------------------------------------------- */

#filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.04);
    position: relative;
    z-index: 2
}

#filters:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 4rem;
    height: 100%;
    background: linear-gradient(90deg,rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    z-index: 2
}

#filters:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 4rem;
    height: 100%;
    background: linear-gradient(270deg,rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    z-index: 2
}

#filters .icon {
    margin-right: 5px
}

#filters .prev,#filters .next {
    min-width: 32px;
    min-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border: 2px solid #F7F7F7;
    color: oklch(var(--p));
    background: none;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    background: #fff
}

#filters .prev {
    left: 0.5rem
}

#filters .next {
    right: 0.5rem
}

#filters button svg {
    margin: 0;
    width: auto
}

#filters .swiper {
    position: relative;
    z-index: 1;
    padding: 0 4rem
}

#filters .swiper-slide {
    width: auto
}

#filters .filter {
    padding: 0.5rem 1rem;
    background: #F7F7F7;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 1.5rem;
    font-size: 0.75rem;
    font-weight: 800;
    outline: none;
    border: none;
    color: oklch(var(--p))
}

#filters .filter.active {
    background: oklch(var(--p));
    color: #fff
}

#filters .color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 0.5rem
}
